{% extends 'layout.twig' %}

{% block body %}
    {% if image %}
        <img src="{{ image }}" alt="">
    {% endif %}
    <h1>{{ title }}</h1>
    <div id="meta">
        <span id="category">Kategorie:  {{ category }}</span> | <span id="author">Post von: {{ name }}</span>
    </div>
    <p>{{ message }}</p>
{% endblock %}
