{% extends 'layout.twig' %}

{% block body %}
    {% if post.image %}
        <img src="{{ post.image }}" alt="">
    {% endif %}
    <h1>{{ title }}</h1>
    <div id="meta">
        <span id="category">Kategorie:  {{ post.category }}</span> | <span id="author">Post von: {{ post.name }}</span>
    </div>
    <p>{{ post.message }}</p>

    <hr>
    <label for="comment">Comments:</label>
    <br>
    <textarea id="comment" name="comment" style="width: 100%">Text here ... </textarea>
    <br><br>
    <input type="submit" onclick="writeComment()">
    <div id="comment-area">
        {% for comment in comments %}
            <hr>
            <div class="comment">
                <p> {{ comment.comment }} </p>
            </div>
        {% endfor %}

    </div>


    <script>

        function writeComment() {
            let postId = "{{ post.id }}"
            let comment = document.querySelector("#comment");
            let commentVal = comment.value;
            comment.value = "type here";


            var url = "/post/addComment";

            $.post(url, {comment: commentVal, postId: postId}, function () {
                let html = '<hr>' +
                    '<div class="comment">' +
                    '<p>' + commentVal + '</p>' +
                    '</div>';

                document.getElementById('comment-area').innerHTML += html;
            });

        }


    </script>
{% endblock %}
