{% extends 'layout.twig' %}

{% block body %}
    {% if data.image %}
        <img src="{{ data.image }}" alt="">
    {% endif %}
    <h1>{{ data.title }}</h1>
    <div id="meta"><span id="category">Kategorie:  {{ data.category }}</span> | <span
                id="author">Post von: {{ data.name }}</span></div>

    <p>{{ data.message }}</p>
{% endblock %}
