{% extends 'layout.twig' %}

{% block body %}
    {% if post.image %}
        <img src="{{ post.image }}" alt="">
    {% endif %}
    <h1>{{ title }}</h1>
    <div id="meta">
        <span id="category">Kategorie:  {{ post.category }}</span> | <span id="author">Post von: {{ post.name }}</span>
    </div>
    <p>{{ post.message }}</p>

    <hr>
    <label for="comment">Comments:</label>
    <br>
    <textarea id="comment" name="comment" style="width: 100%">Text here ... </textarea>
    <br><br>
    <input type="submit" onclick="writeComment()">
    <div id="comment-area">
        {% for comment in comments %}
            <hr>
            <div class="row comments">
                <div class="flex-item">
                    <p> {{ comment.comment|trim }} </p>
                </div>
                <div class="flex-item comment">
                    <span> {{ comment.timestamp }} </span>
                </div>
            </div>
        {% endfor %}

    </div>


    <script>

        function writeComment() {
            let postId = "{{ post.id }}"
            let comment = document.querySelector("#comment");
            let commentVal = comment.value;
            let dateVal = Date.now();
            comment.value = "type here";


            var url = "/post/addComment";

            $.post(url, {comment: commentVal, postId: postId, date: dateVal}, function () {
                let html = '<hr>' +
                    '<div class="row comments"><div class="flex-item"><p>' + commentVal + '</p></div>  <div class="flex-item comment"><span>' + new Date(dateVal).getHours() +
                    ":" + new Date(dateVal).getMinutes() + " " + new Date(dateVal).getDate() + '.' + new Date(dateVal).getMonth() + 1 + '.' + new Date(dateVal).getFullYear() + '</span>' +
                    '</div>';

                document.getElementById('comment-area').innerHTML += html;
            });

        }


    </script>
{% endblock %}
