{% extends 'layout.twig' %}

{% block body %}
    {% if image %}
        <img src="{{ image }}" alt="">
    {% endif %}
    <h1>{{ title }}</h1>
    <div id="meta">
        <span id="category">Kategorie:  {{ category }}</span> | <span id="author">Post von: {{ name }}</span>
    </div>
    <p>{{ message }}</p>

    <hr>
    <label for="comment">Comments:</label>
    <br>
    <textarea id="comment" name="comment" style="width: 100%">Text here ... </textarea>
    <br><br>
    <input type="submit" onclick="writeComment()">
    <div id="comment-area">


    </div>


    <script>

        function writeComment() {
            let postId = "{{ id }}"
            let comment = document.querySelector("#comment");
            let commentVal = comment.value;
            comment.value = "type here";


            let html = '<hr>' +
                '<div class="comment">' +
                '<p>' + commentVal + '</p>' +
                '</div>';

            document.getElementById('comment-area').innerHTML += html;

            var url = "/post/addComment";
            var params = "postId=" + postId + "&comment=" + commentVal;
            var xhr = new XMLHttpRequest();
            xhr.open("POST", url, true);

//Send the proper header information along with the request
            xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

            xhr.send(params);

            console.log(commentVal);
        }


    </script>
{% endblock %}
